.lista{
    text-indent: none;
}

header{
    text-align: center
}

p{
    text-indent: 2em;
}

.header_p{
    text-indent: 0px;
    font-size: 1.5em;
}

ol{

       
    padding-left: 1em;
}

ul{
    padding: 0;
}



li{
    padding: 0 !important;
}

div{
    margin-left: 30%;
    margin-right: 30%;
    

}