.logo{

    height: 230px;
    width: 230px;
    position: absolute;
    z-index: 2;
    top: 40px;
    right: 0px;
   
        

    
}

.header{

    width: 100%;
    height: 600px;
    background: url(/src/task2/design1_image1.jpg);
    background-position: 0px -500px;
    text-align: center;
    color: black;
    font-size: 3em;
    text-shadow: 1px 1px 20px white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  
 
    
   
   
}    

.header_text{
    text-align: right !important;
    position: absolute;
    top:600px;
    width: 98%;
    background-color: gray;
    color: black;
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 20px white;
    border-style: inset;
    

}

nav ul{
    
    font-size: 35px;
    
   
   
   
    
    
    list-style: none;

}

a{
    text-decoration: dotted;
}

nav ul li{

    
    display:inline;
}

.navdiv{
    display: inline;
    position: relative;
    bottom: -460px;
    left: -570px;
    z-index: 4;
    border: 2px;
    
    
    
}

.content{
   display: flex;
   justify-content: center;
   margin-top: 100px;
   
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

   
    
}

.content ul li{
    font-size: 40px;
    font-weight: bold;
    list-style: none;
    text-indent: 0px;
}

.content:last-of-type{
    font-size: 25px;
    text-indent: 20px;
    

}

.content_about{
    display:inline-block;
    position: absolute;
    margin-top: 110px;
    margin-left: 200px;
}

.content_about ul li{
    font-size: 40px;
    font-weight: bold;
    list-style: none;
    text-indent: 0px;
}

.content_about:last-of-type{
    font-size: 25px;
    text-indent: 20px;
    

}

.about{
    left: -500px;
}

.contact{
    position: absolute;
    left: 300px;
}

.padding{
    padding: 20px !important;
}

.active{

    color: black;
}

.links{
    color: blue;
}

.article_rules{
    margin-top: 5%;
}

.article_rules{
    margin-top: 5%;
}

.lista{
    text-indent: none;
}

ol{

       
    padding-left: 1em;
}

table{
    font-size: 25px;
}

tr{

    text-align: center;
    border: 1px solid black;
    
}

td{
    padding: 10px;
    border: 1px solid black;
}

th{
    border: 1px solid black;
}

.list_letters{
    margin: 0 !;
    padding: 0 !important;
    text-indent: 0;
}

.main_schedule{
    margin-top: 5%;
}

.article_schedule{

    display: flex;
    justify-content: space-between;
    
}

.schedule_info{
    font-size: 20px;
}

.scheduletable{
    border: 1px black;
}





.navdivschedule{
    display: inline;
    position: absolute;
    margin-top: -731px;
    margin-left: 1300px;
    z-index: 4;
    border: 2px;
    
}

.navdivrules{
    display: inline;
    position: absolute;
    margin-top: -130px;
    margin-left: -55px;
    z-index: 4;
    border: 2px;
    
}





.content_about ul li{
    font-size: 40px;
    font-weight: bold;
    list-style: none;
    text-indent: 0px;
}

.content_about:last-of-type{
    font-size: 25px;
    text-indent: 20px;
    

}

.active{

    color: rgb(19, 234, 19);
    
}

.links{
    color: blue;
    
}

.article_rules{
    margin-top: 5%;
}

.lista{
    text-indent: none;
}

ol{

       
    padding-left: 1em;
}

table{
    font-size: 25px;
}

tr{

    text-align: center;
    border: 1px solid black;
    
}

td{
    padding: 10px;
    border: 1px solid black;
}

th{
    border: 1px solid black;
}

.list_letters{
    margin: 0 !;
    padding: 0 !important;
    text-indent: 0;
}

.main_schedule{
    margin-top: 5%;
}

.article_schedule{

    display: flex;
    justify-content: space-between;
    
}

.schedule_info{
    font-size: 20px;
}

.scheduletable{
    border: 1px black;
}



.article_rules{
    font-size: 25px;
    margin-top: 130px;
}

.main_schedule{
    margin-top: 110px;
}

.circle{
    list-style-type: circle;
}


