.logo{

    height: 230px;
    width: 230px;
    position: absolute;
    z-index: 2;
    top: 507px;
    left: 1500px;
    

    
}

.header{

    width: 100%;
    height: 600px;
    background: url(/src/task2/design1_image1.jpg);
    background-position: 0px -300px;
    text-align: left;
    font-size: 2em;
    text-shadow: 2px 2px 1px rgba(239, 236, 236, 0.758);
   
}    

.header_text{
    position: absolute;
    top:600px;
    width: 98%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    text-shadow: none;
    

}

nav ul{
    
    font-size: 25px;
    
   
   
   
    
    
    list-style: none;

}

a{
    text-decoration: none;
}

nav ul li{
    text-decoration: none;
}

.navdiv{
    display: inline-block;
    position: absolute;
    margin-top: 130px;
    
}

.content{
    display:inline-block;
    position: absolute;
    margin-top: 125px;
    margin-left: 400px;
}

.content ul li{
    font-size: 40px;
    font-weight: bold;
    list-style: none;
    text-indent: 0px;
}

.content:last-of-type{
    font-size: 25px;
    text-indent: 20px;
    

}

.content_about{
    display:inline-block;
    position: absolute;
    margin-top: 110px;
    margin-left: 200px;
}

.content_about ul li{
    font-size: 40px;
    font-weight: bold;
    list-style: none;
    text-indent: 0px;
}

.content_about:last-of-type{
    font-size: 25px;
    text-indent: 20px;
    

}

.padding{
    padding: 20px !important;
}