table{
    font-size: 25px;
}

tr{

    text-align: center;
    
}

td{
    padding: 10px;
}

div{
    margin-left:25%;
    margin-right: 25%;
}

.scheduletable{
    padding-left: 5%;
    padding-right: 5%;
}

header{
    text-align: center;
}


